.footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 50px 20px 0px 0px;
    background-color: #d4b7ff;
    padding-bottom: 30px;
}
.divInstagram{
    display: flex;
}
.linkInstagram a{
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
}

@media (max-width: 858px){
    .footer{
        justify-content: center;
    }
}