@media (max-width: 858px){
    .checkbtn{
        display: block;
        position: absolute!important;
        right: 0;
        top: 30px;
    }
    .nav{
        display: flex;
        position: fixed;
        top: 0;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 100px!important;
        margin-bottom: 200px!important;
    }
    ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 350px;
        background-color: #d4b7ff;
        top: 0;
        top: -100%;
        text-align: center;
        z-index: 2000;
        transition: all .3s;
    }
    nav ul li{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 20px;
        padding: 0;
    }
    li a:hover{

        color: red;
    }
    #check:checked ~ ul{
        top:80px;
    }
    .diasYHorarios,.logo{
        display: none;
    }

    /* .contenido{
        padding-top: 100px;
    } */
    .imgUbicacion,.imgUbicacion1,.imgUbicacion2{
        width: 100%;
        padding-top: 90px;
    }
    .imgUbicacion1,.imgUbicacion2{
        padding-top: 30px;
    }
/* 
PARTE DE LASHES */

.extensiones, .lifting{
    padding:10px;
}
.imagenes img{
    box-shadow: 5px 10px 7px -2px rgba(0,0,0,0.38);
-webkit-box-shadow: 5px 10px 7px -2px rgba(0,0,0,0.38);
-moz-box-shadow: 5px 10px 7px -2px rgba(0,0,0,0.38);;
    -moz-box-shadow: 9px 7px 76px -19px rgba(0,0,0,0.75);

}



}