.footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 50px 20px 0px 0px;
    background-color: #d4b7ff;
    padding-bottom: 30px;
}
.divInstagram{
    display: flex;
}
.linkInstagram a{
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
}
.servicios{
    display: flex;
    flex-direction: column;
}
.servicios a{
    padding:  0;
    margin: 0;
    font-weight: 100;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: normal;
}

.servicios h3,.direccion h3, .seguinos h3,.pagos h3{
    margin-bottom: 10px;
}


@media (max-width: 858px){
    .footer{
        justify-content: center;
    }
    .servicios,.direccion, .seguinos,.pagos{
        width: 50%;
        padding: 20px 20px;
        justify-content: space-around;
    }
}

@media (max-width: 255px){
    .footer{
        flex-direction: column;
    }
}